$primary: #3700B3;

$accent: #ee2554;

$dark-accent: darken($accent, 10%);

$light-accent: #fce4e3;

$input-bg: #eeeeee;

$lightgray-bg: #f5f5f5;

$gray-bg: darken($lightgray-bg, 20%);

$darkgray-bg: darken($lightgray-bg, 40%);

$gray-font: #444444;

$default-radius: 2px;

$transparent: rgba(255, 255, 255, 0);





